html {
  scroll-behavior: smooth;
}

body {
  background-color: #161d29;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0;

  font-family: Helvetica, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  top: 1%;
  right: 1%;
  padding: 5px 10px;
  border: none;
  border-radius: 5%;
  z-index: 1;

  background-color: #242f3e;
  font-size: xx-large;

  color: rgb(255, 255, 255);
}

button:hover {
  background-color: #2f3b4d;
}

button:active {
  background-color: #3d4a5f;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: xx-large;
  color: #ffffff;

  width: min(100%, max(500px, 50vw));

  margin-left: 175px;
  margin-right: 175px;
  margin-bottom: -10px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 3dvw;
  text-shadow: 1px 3px 11px rgba(0,0,0,1);
  color: #ffffff;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 5dvw;
  text-shadow: 1px 3px 11px rgba(0,0,0,1);
  color: #ffffff;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;

  object-fit: contain;
  max-width: 50%;
  max-height: 50%;
  width: auto;
  height: auto;

  background-color: rgb(27, 27, 27);

  border: 15% black;
  border-radius: 1% 1%;
  padding: 0.1% 0.2% 0.1% 0.2%;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  min-height: 100vh;
}

/* NAVIGATION */

.nav {
  --nav-gap: 15px;
  padding: var(--nav_gap);
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nav_item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: var(--nav-gap);
  margin-right: var(--nav-gap);
}

.nav_link {
  background: rgba(202, 202, 202, 0.3);
  border-radius: 50%;
  transform: scale(1.5);
  transition: transform 0.1s;
  height: var(--nav-gap);
  width: var(--nav-gap);
}

.nav_link:hover {
  background: #c4c4c4;
}

.nav_link_selected {
  background: #ffffff;
  transform: scale(1.9);
}

.nav_link:hover ~ .nav_label {
  opacity: 1;
}

.nav_label {
  color: #ffffff;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.1s;
  margin-right: var(--nav-gap);
  text-shadow: 1px 3px 11px rgba(0,0,0,1);
}

/* MOBILE */

@media (max-width: 768px) {
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    font-size: xx-large;
    color: #ffffff;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: x-large;
    color: #ffffff;

    width: min(100%, max(300px, 50vw));

    margin-left: 50px;
    margin-right: 50px;
    bottom: -10px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .nav {
    top: 90%;
  }
}


